@charset "utf-8";


* 		   {margin:0; padding:0; box-sizing:border-box;}
::-webkit-scrollbar {width:0px;}
html 	   {scroll-behavior: smooth;}
html, body {font:10pt/180% 'Noto Sans KR', sans-serif; }
img		   {display:block; max-width:100%;}
a 		   {color:black;}
#layout    {max-width:1960px; margin:auto; position: relative;}

/*상단*/
#head     {
	position:fixed; width:55vw;
	display:flex; padding:25px;
	}
	
#head.act {background:white;}
#head.act #logo  a{color:black;}
#head.act .mainMenu{color:black;}
#head a   {color:white;}
#logo	  {font-size:2.5rem; font-weight:800; margin-right:100px;}
#logo a   {text-decoration:none;}

#menu {flex:1; display:flex; list-style:none;}
#menu li { position:relative; flex:1;}

.mainMenu  {
	text-decoration:none; font-size:1rem; font-weight:500; padding: 5px 0 10px 0;
}
.mainMenu:hover {font-weight: 600; text-decoration: underline; }
.mainMenu:hover {color:#e6cca3 !important;}
.subMenu   {
	  position:absolute; width:100%; background:#e6cca3; display:none;
}
.subMenu a {display:block; text-decoration:none; padding:10px;}
.subMenu a:hover {color:#89724a !important; font-weight:500;}

/*click*/
#top {
	height:900px; 
	background:url("../img/slide1.jpg") no-repeat fixed center top/ 100%;
}
#typing {	
	height:500px;
	color:white; text-align:center; line-height:160%;
	font-size:3rem; padding:40px 1px 0 1px;
	text-shadow:0 1px 10px black; /*border:1px solid red;*/
}
#click {	
	max-width:100px; margin:auto; margin-top:30vh;
	transform:translateX(35px);
}
#click i {
	font-size:2.5rem; color:white; display:block;
	animation:upDown 1s infinite;
}
@keyframes upDown {
	from 	{transform:translateY(-10pt); opacity:0;}
	to 		{transform:translateY(0pt);   opacity:1;}
}

#click a {color:white;}


/*mian*/
main		{padding:15px 0;}
main h2, main .text  	{text-align:center;}
main h2 	{font-size:3rem; font-weight:500; margin-top:50px;}
main .text  {font-size:10.5pt; padding-top:10px;}
.text	    {margin:20px 0 40px 0;}


#img1, #img2 	{display:flex; margin-bottom:200px;}
#img3, #img4	{display:flex; justify-content:space-around;}
#img1 img , #img2 img	{padding:15px 0 15px 0;}

#img1 a p	{
	 color:white; font-size:10pt; text-align:right; margin-top:-50px; margin-right:15px;
}
#img1 .detail	 {text-align:center;}					
#img1 .detail a	 {text-decoration:none;}					
#img1 a p:hover  {font-weight:800; text-shadow:1px 1px 3px black;}
#img2 a p:hover  {font-weight:800; text-shadow:1px 1px 3px black;}
#img2 a p    {
	margin-top:-50px; color:white; font-size:10pt;
	margin-left:15px;
}
#img2 .detail2		{text-align:center;}
#img2 .detail2 a	{text-decoration:none;}

#img3		 {padding:20px 0 20px 0; margin-left:70px; margin-bottom:200px;}
#img3 a img	 {width: 85%; }
.link		 {text-decoration:none;}
.link p	     {
	text-align:center; margin-top:-20px;
	margin-bottom:40px;
}
.link p:hover {font-weight:600; color:#89724a;}
.txt		 {display:block;}
.txt h3	     {padding-bottom:10px;}
.txt p		 {padding-bottom:10px;}
.txt a:hover {font-weight:600; color:#89724a;}
#img4		 {
	background:#e6cca3; padding:50px 10px 60px 10px; text-align:center;
	margin-bottom: 50px;  
}
#img4 div img   {width:350px; height:auto;}
#img4 div 		{color:white; }
#img4 div p		{
	text-align:right; font-size:0.55rem;
	line-height: 15px; text-shadow:0 1px 2px black;
	padding-right:10px;
}
#img4 .pre1 p   {margin-top:-50px;}
#img4 .pre p 	{margin-top:-40px;}
#img4 div:hover {color:black; transition:0.5s;}
#img4 img:hover {border:3px solid orange;}

#link2 			 {margin: auto;}
#link2 div  	 {display:flex; margin-bottom: 50px; font-size: 1.2rem;}

.girl 	    {flex:1; text-align: right; padding-right: 20px; text-decoration: none;}
.girl:hover {font-weight: 600; color: #e6cca3;}

.boy 	   {flex:1; text-align: left; padding-left: 20px;  text-decoration: none;}
.boy:hover {font-weight: 600; color: #e6cca3;}

#jun		 {display:flex;}
#jun .ex     {width:30%; margin-right: 1px;}
#jun .ex .look:hover {transform:translateY(-23px); font-weight: 600;}

.infor		{
	text-align: right; margin: auto; flex: 1; padding: 20px;
}
.infor span	{font-size: 2.5rem; font-weight: 300; }
.infor p	{
	font-size: 2.7rem; font-weight: 500; margin-top: 30px; flex:1; padding: 10px 0 50px 0; line-height: 50px;
}

.look		{
	text-align: right; margin-top: -35px; margin-right: 10px; color: white; margin-bottom: 85px; font-size: 1.1rem;
}

#son 		{
	display:flex; flex-wrap: wrap; justify-content:right;  margin-top: 100px;  margin-bottom: 200px;
}
#son a img	{width:800px; margin-left: 10px;}
.infor2     {
	text-align: left; margin: auto;
	flex:1; padding: 20px;
}
.infor2 span	{font-size: 2.5rem; font-weight: 300; flex:1;}
.infor2 p		{
	font-size: 2.7rem; font-weight: 500; margin-top: 30px;  padding: 10px 0 50px 0; line-height: 50px;
}

#de     	{display: flex; flex-wrap: wrap; background: #e6cca3; margin-top: 30px;}
#de img		{width:50%;}
.option		{flex:1; padding: 15px; margin: auto;}
.option a   {
	display: flex; padding: 25px; font-size: 1.5rem; color:white; text-decoration:none; 
}
.option a:hover {font-weight: 600;}

/*footer*/
footer {
	 margin-top: 30px; width:100%; max-width:2000px; flex-wrap:wrap; }

footer iframe {display:flex; width:1227px; height:500px; margin-top:50px; margin:0 auto;}
footer ul {
	background: #e6cca3;display: flex; list-style: none; margin-top: 10px; padding: 15px;
}
footer li   {flex:1; text-align: center;}
footer li a {color: white; text-decoration: none; font-weight: 500;}
footer li a:hover {text-decoration: underline; font-weight: 600; color: #89724a;}
