@charset "utf-8";

* 	    {margin: 0; padding: 0; box-sizing: border-box;}
html 	    {scroll-behavior: smooth;}
::-webkit-scrollbar {width:0px;}
html 	    {scroll-behavior:smooth;}
html, body  {font:15px/180% 'Nanum Gothic', sans-serif;}
img         {max-width: 100%; display: block;}

/*header*/
#layout p   {color:#666;}   
#layout		{/*max-width: 2000px; margin:auto;*/ ;}
header      {background: black;}
header div 	{max-width:2000px; margin:auto;}
header h1	{display:inline-block; margin:20px 0 20px 50px;}
header nav  {
	color:white; font-size: 1.3rem; font-weight: bold; float:right;
	padding: 25px 20px 20px 0;
}
nav>ul a	{color:white; text-decoration:none;}
nav ul {list-style:none; display:flex;}
ul li  {margin-left:20px; margin-right:30px; font-weight:700;}
nav>ul li a:hover {color:#c7a063;}


/*슬라이드*/
#slide {overflow:hidden;  max-width: 100%;}
#slide div { 
	display:flex;
	position:relative;	
	width:400vw; left:-100vw;
}
#slide img {width:100vw;}

/*radius*/

#radius { 
	display:flex; flex-wrap:wrap; justify-content:space-between; width:80px;
	margin:auto;margin-top:20px;
}
#radius div {
	background:#666; 
	width:10px; height:10px;
	border-radius:50%;
} 
#radius .black {background:black;}

/*main*/
main 		{text-align: center; max-width:1200px;  margin:auto;}
main h2 {margin-top: 120px; font-size: 2rem; margin-bottom:15px;}
main p  {margin-top: 10px; font-size: 1rem; margin-bottom:50px;}


#holy		   {
	display: flex; flex-wrap: wrap; justify-content: space-around;
	 /*height:1000px;*/ align-items:flex-start;
}
#holy> div 		   {flex:1; margin:auto;}
#holy> div h3	   {font-size: 1.3rem; font-weight: 800; margin-top: 20px;}
#holy> div p	   {font-size: 16px; margin-top: -7px; color: #666;}
#holy a 		   {}
#holy> div img 	   {width:100%; max-width:300px; height:auto; margin:auto; margin-top: 50px;}
#holy> div button  {
	background:black; color:white; padding: 15px; width: 130px; 
	border: none;
}
#holy> div .soldout {opacity:0.3; cursor: not-allowed;}

#pik	{display: flex; flex-wrap: wrap; }
#pik> div       {margin:auto;}
#pik> div img 	{width: 290px; height: 270px;}
#pik> div:hover {border: 1px solid #000; }
#pik> div:hover p {transform:translateY(-23px);}
#pik> div		{transition:0.5s;}

#pik> div p 	{
	 text-align: right; font-size: 13px; margin-right: 15px; 
	color: white; text-shadow:0 0 5px #000; font-weight: 800; transition:0.5s;
}
#style      {max-width:900px; margin:0 auto; overflow:hidden;}
#style>div	{
	/*display:flex; flex-wrap:wrap; padding:10px;align-items:center;*/ position:relative;
	margin:30px 0 55px 0; 
	}
#style>div>div {max-width:700px; overflow:hidden; margin:auto;}

#sliding {display:flex; flex-wrap:wrap; /*left:-700px;*/ position:relative;}

#sliding a {/*position:relative; white-space:nowrap;*/ display:block; width:100%; max-width:700px;}
#sliding img {width:100%; margin:auto;}

#style button {
	width:50px; height:50px; background: black; border-radius: 50%; border: none; display:block;
	position:absolute; z-index:1;
}
#leftBtn {left:0; top:46%;}
#rightBtn {right:0; top:46%;}
#style button img {width:34px; height:34px; margin:7px;}





/*aside*/
aside {
	background: #ffefb1; padding: 10px; padding-bottom:30px; /*max-width:1200px; margin:auto; */
}
aside h2, aside h3  {color:rgb(249, 186, 91); }

#one				{text-align:center; margin: 15px 0;}

aside h2			{font-size: 1.5rem; font-weight: 800; line-height: normal;}
aside p				{
	font-size: 7.5pt; font-weight: 700; margin-top: 10px; line-height: 1.1rem; padding-bottom:15px;
}
.eye					{margin-top:-1px;}

#makeup					{
	display:flex; flex-wrap:wrap; max-width:1000px; margin:auto; justify-content:space-between; 
}
#makeup>div 			{margin:auto;}
#makeup img				{width:100%; max-width:300px; height:200px; display:block; margin:auto;}
#makeup>div .go:hover   {font-size:10pt; font-weight:700; color:#ffefb1; text-shadow:1px 1px 2px black;}
#makeup>div span		{font-size: 8pt;}
#makeup>div .how		{text-decoration:none;}
#makeup>div .go			{
	text-align: right; color:white; font-size:6.5pt; margin-top:-30px; display:block;
	padding-right:10px; text-decoration:none;
}


#news	{padding: 75px 0 65px 0; margin:auto; max-width:1100px; }
#event	{display:flex; flex-wrap:wrap; justify-content:space-between; }
#event>div	    {margin:auto; margin-bottom:20px; position:relative;}
#event>div img	{width:100%; max-width:250px; display:block;}

#event>div p	{
	/*text-align: right;*/ font-size:8pt; color:white; 
	text-shadow:1px 1px 2px black; right:10px; bottom:10px; position:absolute;
}
#event>div span	{font-size:10pt; font-weight:700; color:orange;}
#event> div a :hover	{border:3px solid orange;}
#event> div:hover p {transform:translateY(-23px);}
#event> div p		{transition:0.5s;}

.news01>p , .news02>p {margin-top:-80px;}
.news03>p , .news04>p {margin-top:-55px;}

footer				{
	width:80%; max-width:1200px; /*flex-wrap:wrap;*/ margin:0 auto; background: #fff; 
	padding-top:60px; padding-bottom:50px;  /*display:flex;width:1200px; */
}

#con 				{display:flex; align-items:center; }
#con h2				{font-size:3.5rem; color:#ccc; flex:1.2; margin-top:-60px;}
#con div			{flex:1;}
#con input	{ 
	border:none; border-bottom:1px solid black; width:100%; display:block; 
	/*max-width:500px;*/ padding-top:13px;margin-bottom:15px;
	font:700 1rem 'Nanum Gothic';
}
#con textarea {
	border:none; border-bottom:1px solid black; /*padding:15px;*/  width:100%; display:block;
	/*max-width:500px; */ 
	height:150px; font:700 1.03rem 'Nanum Gothic';
}
#con ::placeholder, #con textarea {color:black; font-family:'Nanum Gothic';}
#con button		{margin-top:20px; background:black; border:none; padding:10px; color:white; float:right;}

#menu iframe		{display:block; width:100%; max-width:1200px; height:300px; margin-top:50px; border:none;}
#menu>ul			{
	display:flex; list-style:none; background:black;
	font-size:8pt; margin-top:10px; padding:8px;
}
#menu>ul a			{color:white; text-decoration:none;}
#menu>ul li			{text-align:center; margin:auto;}
#menu>ul a:hover  {text-decoration: underline;}

/******************************************************************************************/
@media(max-width:998px){
	header nav {float:none; padding-left:20px;padding: 10px;}
	nav ul {align-items:flex-start; justify-content:space-between; overflow:hidden; }
	ul li  {margin-left:0px; margin-right:0px; padding-bottom:10px;}
	nav>ul a {font-size:0.9rem; letter-spacing:-1px;}
	#holy {}
}
@media(max-width:600px){
		#holy,#con {flex-direction:column;}
		#con> * {width:100%;}
		#con h2 {/*position:relative; z-index:1;*/ padding-bottom:10px;}
		
}
