@charset "utf-8";

* 			{margin: 0; padding: 0; box-sizing: border-box; margin: auto;}
html 		{scroll-behavior: smooth;}
::-webkit-scrollbar {width:0px;}
html, body  {font:15px/180% 'Nanum Gothic', sans-serif;}
img         {max-width: 100%; display: block;}
a 		 	{color:black; text-decoration:none;}

#layout p  	{color:#666;}
/*상단 디자인*/
header      {background: black;}
header div 	{max-width:2000px; margin:auto; border:0px solid blue;}
header h1	{display:inline-block; margin:20px 0 20px 50px;}

#slide img  {height:40vh; width:100%;}

/*nav 디자인*/
header nav  {
	color:white; font-size: 1.3rem; font-weight: bold; float:right;
	padding: 25px 20px 20px 0;
}
nav>ul a	      {color:white; text-decoration:none;}
nav ul            {list-style:none; display:flex;}
ul li             {margin-left:20px; margin-right:30px; font-weight:700;}
nav>ul li a:hover {color:#c7a063;}
.click a          {color:#c7a063;}

/*main*/
#ment    {text-align: center; padding: 35px; border: 0px solid red;}
#ment h2 {font-size: 2rem; padding-bottom: 20px; margin-top:20px;} 

#all     {display: flex; justify-content: space-around; background:black; padding-top:20px;}
#all img {width:85%;}
.guides  {margin-bottom: 20px;}
.tit{
	text-align:center; padding:70px 0 30px 0; font-size:2rem;
	border-bottom:2px solid black; width:80%; margin-bottom:30px;
}
#evey      {display: flex; justify-content: space-around; flex-wrap: wrap; width: 78%;} 
.day       {text-align: center; width: 30%;}
.day img   {width: 100%;}
.day p     {font-weight: 700; margin-top: 15px;}
.mine      {font-size: 8pt;}
.mine:hover{font-weight: 700;}
#COUPON    {text-align: center;}
#COUPON img { margin-bottom: 15px;}
#COUPON h3  {font-size: 1.3rem; margin-bottom: 15px;}
.text       {margin-bottom: 65px;} 



/*하단 디자인*/
.menu    {width:80%; color:white;}
.menu p  {padding-bottom:30px; color:black;}
.menu img{margin-bottom:3px;}
.menu ul {display:flex; list-style:none; text-align:center; padding:10px; background:black;}
.menu li {flex:1; font-size:8pt;}
.menu li a {color:white;}
.menu>ul a:hover  {text-decoration: underline;}


/******************************************************************************************/
@media all and (max-width:992px){
    #layout>h1 img {margin:auto;}	
	header nav {float:none; padding-left:20px;padding: 10px;}
	nav ul {align-items:flex-start; justify-content:space-between; overflow:hidden; }
	ul li  {margin-left:0px; margin-right:0px; padding-bottom:10px;}
	nav>ul a {font-size:0.9rem; letter-spacing:-1px;}
	
}	
	@media(max-width:699px){
		#slide img	     {height:20vh;}
		header h1 img    {margin-left:60px;}
		#all		     {flex-direction:column; width:85%; flex-wrap:wrap;}
		#evey			 {width: 100%; display:block;}
		.day      		 {width: 100%;}
		.text 			 {padding:10px;}
        .guides          {width:100%;}
		.menu p 	   {font-size:0.85rem; width:90%;}
		.menu  		   {width:100%;}
		.menu ul a 	   {font-size:0.3rem; padding-right:5px;}
	}	
